<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
</head>
<body>
    <a href="{% url 'getRegister' %}">Register</a>
    <br>
    <a href="{% url 'gettrainning' %}">Trainning</a>
    <br>
    <a href="{% url 'getdetect' %}">Detect</a>
    <br>
    <a href="{% url 'stream' %}">Stream</a>
    <br>
    <a href="{% url 'test' %}">Test</a>
    <br>
    Chưa xem đc video trên firebase
    <br>
    chuyển định dạng mp4, xem video
    <br>
    quét + hiển thị website
    <br>
    điểm danh ???

</body>
</html>

